/* Multistep Styles - START */

@import '../../styles/variables.scss';

.multistep-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      display: inline-block;
      text-align: center;
      line-height: 4.8rem;
      padding: 0 0.7rem;
      cursor: pointer;
      color: silver;
      border-bottom: 2px solid silver;
      &:hover,
      &:before {
        color: #51836d;
      }
      &.go3927169553:before,
      &.go270527778:before {
        background-color: #51836d;
        color: $white;
      }
      span {
        padding: 0 1.5rem;
      }
      &:before {
        position: relative;
        float: left;
        left: 50%;
        width: 1.2em;
        line-height: 1.4em;
        border-radius: 0;
        bottom: -3.99rem;
      }
    }
  }
  .buttons-wrapper {
    display: flex;
    div {
      margin: 0 1rem;
    }
  }
}

/* Multistep Styles - END */
