/* Form Styles - START */

@import '../../styles/variables.scss';

.form-wrapper {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: $green-secondary;
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  .form-image-wrapper {
    width: 45%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  .form-content-wrapper {
    width: 55%;
    padding: 6rem;
    color: $green-tertiary;
    font-family: 'futura-pt';
    .heading {
      font-size: 3.5rem;
      text-align: center;
    }
    .sub-heading {
      font-size: $input;
      text-align: center;
      margin: 1rem 0;
      a {
        text-decoration: none;
        color: $green-tertiary;
        font-weight: 500;
      }
    }
    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .input-wrapper {
        width: 100%;
        margin: 0.5rem 0;
      }
      .button {
        margin-top: 2rem;
        width: 50%;
      }
    }
  }
}

/* Form Styles - END */
