/* Profile Styles - START */

@import '../../styles/variables.scss';

.profile-wrapper {
  height: calc(100vh - 6rem);
  width: 100%;
  span {
    cursor: pointer;
  }
}

@media only screen and (max-width: $tab-big) {
  .profile-wrapper {
    height: auto;
  }
}

/* Profile Styles - END */
