/* Dashboard Styles - START */

@import '../../styles/variables.scss';

.dashboard-wrapper {
  .authors-list {
    height: 91vh;
    width: 100%;
    .MuiDataGrid-toolbarContainer {
      justify-content: flex-end;
      padding: 1rem;
      button {
        color: $green-primary;
        font-size: $h6;
        padding: 1rem;
      }
    }
    .MuiDataGrid-columnHeaders {
      background-color: rgba(0, 0, 0, 0.075);
      border: 1px solid $green-primary;
      .MuiDataGrid-columnHeaderTitleContainer {
        color: $green-primary;
        font-size: $regular17;
        text-align: center;
      }
    }
    .actions-wrapper {
      width: 100%;
      button.button {
        width: 30%;
        padding: 0.5rem 1rem;
        &:not(:last-child) {
          margin-right: 5%;
        }
      }
    }
    .MuiDataGrid-cell:focus-within {
      outline: none !important;
    }
  }
}

.MuiFormControl-root.MuiTextField-root {
  width: 100%;
  margin: 1rem 0 2rem;
}

@media only screen and (max-width: $tab-small) {
  .dashboard-wrapper {
    .authors-list {
      .MuiDataGrid-columnHeader,
      .MuiDataGrid-cell {
        min-width: 200px !important;
        max-width: 200px !important;
        &:first-child {
          min-width: 100px !important;
          max-width: 100px !important;
        }
        &[aria-colindex='6'] {
          min-width: 400px !important;
          max-width: 400px !important;
        }
      }
    }
  }
}

/* Dashboard Styles - END */
