/* ForgotPassword Styles - START */

@import '../../styles/variables.scss';

.forgot-password-wrapper {
  height: calc(100vh - 6rem);
  width: 100%;
}

@media only screen and (max-width: $tab-big) {
  .forgot-password-wrapper {
    height: auto;
  }
}

/* ForgotPassword Styles - END */
