/* Registration Styles - START */

@import '../../styles/variables.scss';

.registration-wrapper {
  height: calc(100vh - 6rem);
  width: 100%;
  .options-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: $regular17;
    font-family: $font-karla;
    margin: 1rem 0;
    .is-admin {
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;
    }
  }
}

@media only screen and (max-width: $tab-big) {
  .registration-wrapper {
    height: auto;
  }
}

/* Registration Styles - END */
