/* Registration Styles - START */

@import '../../styles/variables.scss';

.registration-wrapper {
  min-height: calc(100vh - 6rem);
  width: 100%;
}

@media only screen and (max-width: $tab-big) {
  .registration-wrapper {
    height: auto;
  }
}

/* Registration Styles - END */
