/* Login Styles - START */

@import '../../styles/variables.scss';

.login-wrapper {
  height: calc(100vh - 6rem);
  width: 100%;
  .options-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: $regular17;
    font-family: $font-karla;
    margin: 1rem 0;
    .remain-signed-in {
      display: flex;
      align-items: center;
    }
    span {
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: $tab-big) {
  .login-wrapper {
    height: auto;
  }
}

/* Login Styles - END */
