/* Image Styles - START */

@import '../../styles/variables.scss';

.image {
  width: 100%;
  height: auto;
}
.image-loader-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  .image-loader {
    border: 7px solid $green-tertiary;
    border-top: 7px solid $green-secondary;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.25s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Image Styles - END */
